---
title: 'Stefan Langhammer Technologies'
---


<h1> About me </h1>

<h3>Hi, my name is Stefan. </h3>

<p>
There are many websites. But this one is mine. Since 2003 actually. 
</p>

<p>
Any questions? Mail: webmaster&lt;at&gt;this-url.de
</p>


<h3>Licence</h3>
<p>
Unless otherwise noted the site content is released under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> ("free with attribution") and any source code as public domain under the <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0</a> license.<br>
</p>